{% extends 'base.html' %}

{% load static %}

{% block title%} Order Completed {% endblock %}

{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Order Complete</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-6">

                <div class="section-title">
                    <h3 class="title">Order Completed</h3>
                </div>
                <br>
                <h2>Dear, {{ user.first_name }} {{  user.last_name }}</h2>
                <hr>
                <h3>Your order has been completed!</h3>
                <h4>Order Code:&ensp; <span style="color:crimson;"> #{{ order_code }} </span> </h4>
                <h4>Thank you for shopping from our site.</h4>
            </div>
           
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
     <br>
</div>
<!-- /section -->

{% endblock %}