{% extends 'base.html' %}

{% load static %}

{% block title%} About Us-{{info.title}} {% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About Us </li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->

        <div class="row">

            <!-- # add |safe if u have used RichTextUploadingField for it  -->
            <!-- safe gives permission to show our html data; if we do not add safe then all html tags will be present there  -->
            {{info.about_us|safe}}                                 
		</div>
		
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

{% endblock %}