{% extends 'base.html' %}

{% load static %}

{% block title%} Contact Us-{{info.title}} {% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Contact</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- # we can change this grid as per our choice ie. we can make col-md-6 and so onl but total division must be always 12 -->
            <div class="col-md-5">

                <div class="section-title">
                    <h3 class="title">Get in Touch with Us</h3>
                </div>

                <form id="checkout-form" class="clearfix" method="POST"> 
                    {% csrf_token  %}

                    <!-- Instead of creating form separately  -->
                    <!-- We can just call {{form}} ... Django automatically creates a form for us using the details mentioned in the widgets in ContactForm class in Models  -->

                    {{form.as_p}}

                    <!-- .as_p will render form wrapped in <p> tags-->

                    <button style="cursor: pointer;
                    border: 2px solid rgb(88, 181, 196);
                    border-radius: 6px;
                    color: white;
                    background-color: black;
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    padding: 7px 9px;
                    margin-top: 20px;"> Submit </button>
                    <br>
                    <div>
                        <!-- # Now we should create a condition to display the success message only when the message is sent  -->
                        {% if messages %}
                        <!-- # And loop should run everytime to display success message if it is sent to database  -->
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </form>
            </div>

            <div class="col-md-7">
                <div class="shiping-methods">
                    <div class="section-title">
                        <h3 class="title">Contact Information </h3>
                    </div>
                    <div> {{info.contact|safe}} </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->
{% endblock %}