{% extends 'base.html' %}

{% load static %}


{% block content %}
<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">

				<!-- banner -->
				{% for slide in slider %}
				<div class="banner banner-1">
					<img src="{{slide.image.url}}" alt="Error loading image" height="500" width="400">
					<div class="banner-caption text-center">
						<h1>{{slide.title}}</h1>
						<h3 class="white-color font-weak"> Rs.{{slide.price}}</h3>
						<a href="/product/{{slide.id}}/{{slide.slug}}" class="primary-btn">Shop Now </a>
					</div>
				</div>
				{% endfor %}
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->


<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Latest Products</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Product Single -->
			{% for product in latest_product %}
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="product product-single">
					<div class="product-thumb">
						{% if product.label %}
						<div class="product-label">
							<span> {{product.label}}</span>
						</div>
						{% endif %}
						<a href="/product/{{product.id}}/{{product.slug}}" class="main-btn quick-view"><i
								class="fa fa-search-plus"></i> Quick view</a>
						<img src="{{product.image.url}}" alt="Error loading image" height="200" width="200">
					</div>

					<div class="product-body">
						{% if product.discounted_price > 0 %}
						<h3 class="product-price">Rs.{{product.discounted_price}}
							<del class="product-old-price">Rs.{{product.price}}</del>
						</h3>
						{% else %}
						<h3 class="product-price"> Rs.{{product.price}}</h3>
						{% endif %}
						<!-- # for average review and count  -->
						<div class="product-rating">
							<i class="fa fa-star{% if product.average_review < 1%}-o empty{% endif%}"></i>
							<i class="fa fa-star{% if product.average_review < 2%}-o empty{% endif%}"></i>
							<i class="fa fa-star{% if product.average_review < 3%}-o empty{% endif%}"></i>
							<i class="fa fa-star{% if product.average_review < 4%}-o empty{% endif%}"></i>
							<i class="fa fa-star{% if product.average_review < 5%}-o empty{% endif%}"></i>
							{{product.average_review}}/{{product.count_review}}               
						</div>

						<h2 class="product-name"><a
								href="/product/{{product.id}}/{{product.slug}}">{{product.title}}</a></h2>
						<div class="product-btns">
							<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							<a href="/product/add_to_cart/{{product.id}}" class="primary-btn add-to-cart"><i
									class="fa fa-shopping-cart"></i> Add to
								Cart</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- /Product Single -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Picked For You</h2>
				</div>
			</div>
			<!-- section title -->

			<!-- Product Single -->
			{% for p_product in picked_product %}
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="product product-single">
					<div class="product-thumb">
						{% if p_product.label %}
						<div class="product-label">
							<span> {{p_product.label}}</span>
						</div>
						{% endif %}
						<a href="/product/{{p_product.id}}/{{p_product.slug}}" class="main-btn quick-view"><i
								class="fa fa-search-plus"></i> Quick view</a>
						<img src="{{p_product.image.url}}" alt="Error loading image" height="200" width="200">
					</div>

					<div class="product-body">
						{% if p_product.discounted_price > 0 %}
						<h3 class="product-price">Rs.{{p_product.discounted_price}}
							<del class="product-old-price">Rs.{{p_product.price}}</del>
						</h3>
						{% else %}
						<h3 class="product-price"> Rs.{{p_product.price}}</h3>
						{% endif %}

						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o empty"></i>
						</div>
						<h2 class="product-name"><a
								href="/product/{{p_product.id}}/{{p_product.slug}}">{{p_product.title}}</a></h2>
						<div class="product-btns">
							<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
							<a href="/product/add_to_cart/{{p_product.id}}" class="primary-btn add-to-cart"><i
									class="fa fa-shopping-cart"></i> Add to
								Cart</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
			<!-- /Product Single -->


		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

{% endblock %}