{% extends 'base.html' %}

{% load static %}

{% block title%} {{product.title}} {% endblock %}

{% block content %}


<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/category/{{product.category.id}}/{{product.category.slug}}">{{product.category.title}}</a>
			</li>
			<li class="active">{{product.title}}</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->


<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">
				<div class="col-md-6">
					<!-- for main/large view of image inside Product model  -->
					<div id="product-main-view">
						<div class="product-view">
							<img src="{{product.image.url}}" alt="Error loading image" height="400" width="350">
						</div>

						<!-- for main view of image gallery inside Images model  -->
						{% for i in images %}
						<div class="product-view">
							<img src="{{i.image.url}}" alt="Error loading image" height="400" width="350">
						</div>
						{% endfor %}

					</div>

					<!-- for small view image inside product model  -->
					<div id="product-view">
						<div class="product-view">
							<img src="{{product.image.url}}" alt="">
						</div>

						<!-- for small view of image gallery inside Images model  -->
						{% for i in images %}
						<div class="product-view">
							<img src="{{i.image.url}}" alt="Error loading image">
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-md-6">
					<div class="product-body">
						{% if product.label %}
						<div class="product-label">
							<span> {{product.label}}</span>
						</div>
						{% endif %}
					</div>
					<h2 class="product-name"> {{product.title}}</h2>
					{% if product.discounted_price > 0 %}
					<h3 class="product-price">Rs.{{product.discounted_price}} <del
							class="product-old-price">Rs.{{product.price}}</del></h3>
					{% else %}
					<h3 class="product-price">Rs.{{product.price}}
						{% endif %}
						<br>
						<div>
							<!-- calling function that we made inside Product Model -->
							<div class="product-rating">
								<i class="fa fa-star{% if product.average_review < 1%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if product.average_review < 2%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if product.average_review < 3%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if product.average_review < 4%}-o empty{% endif%}"></i>
								<i class="fa fa-star{% if product.average_review < 5%}-o empty{% endif%}"></i>
								<strong>{{ product.average_review |stringformat:".2f"}} </strong>

							</div>

							<a href="#tab1"> <strong>{{ product.count_review}} </strong> Review(s) | Add your review</a>
						</div>
						<br>
						<p><strong>Availability: </strong> <span style="color:crimson; font-weight:bold">&nbsp;
								{{product.stock}} </span> </p>
						<br>
						<p><strong>Brand:</strong> <span style="color:crimson; font-weight:bold">
								&nbsp;{{product.brand}} </span></p>
						<br>
						<p> <strong>About this item:</strong> <br> {{product.description|safe}} </p>
						<br>
						<p> <strong> Add to Wishlist:&nbsp; <button class="main-btn icon-btn"><i
										class="fa fa-heart"></i></button> </strong> </p>
						<br>
						<hr>
						<br>

						<div class="product-btns">
							<form action="/product/add_to_cart/{{product.id}}" method="POST">

								{% csrf_token %}
								<br>
								<div class="qty-input">
									<span class="text-uppercase"> <strong> QTY: &nbsp; </strong> </span>
									<input class="input" name="quantity" type="number" value="1" min="1"
										max="{{product.items_in_stock}}">
								</div>
								&nbsp;
								<button type="submit" class="primary-btn add-to-cart"><i
										class="fa fa-shopping-cart"></i> Add to
									Cart</button>
							</form>
						</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="product-tab">
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Product Details</a></li>

						<li><a data-toggle="tab" href="#tab2">Reviews ({{product.count_review}})</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab-pane fade in active">
							<p>{{product.details|safe}}</p>
						</div>

						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<div class="col-md-6">
									<div class="product-reviews">
										{% for review in reviews %}
										<div class="single-review">
											<div class="review-heading">
												<div><a href="#"><i class="fa fa-user-o"></i>
														{{review.user.first_name}}</a></div>
												<div> <strong> {{review.subject}} </strong>
												</div>
												<div><i class="fa fa-clock-o"> </i> {{review.create_at}}
												</div>

												<div class="review-rating pull-right">
													<!-- Checks the rating inside database 
													If there is no rating inside database (0) then 5 empty stars is displayed; if there is rating 5 inside database all 5 stars are colored; else if there is 1 < rating < 5(for rating 2 to 4) then rating is displayed accordingly(suppose i had rated 4 while reviewing ; then it shows 4 stars colored and a empty star at the end)  -->

													<i
														class="fa fa-star{% if review.rating < 1 %}-o empty{% endif %}"></i>
													<i
														class="fa fa-star{% if review.rating < 2 %}-o empty{% endif %}"></i>
													<i
														class="fa fa-star{% if review.rating < 3 %}-o empty{% endif %}"></i>
													<i
														class="fa fa-star{% if review.rating < 4 %}-o empty{% endif %}"></i>
													<i
														class="fa fa-star{% if review.rating < 5 %}-o empty{% endif %}"></i>
												</div>
											</div>
											<div class="review-body">
												<p> {{review.comment}} </p>
											</div>
										</div>
										{% endfor %}

										<ul class="reviews-pages">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
										</ul>
									</div>
								</div>

								<div class="col-md-6">
									<h4 class="text-uppercase">Write Your Review</h4>

									<form class="review-form" action="/addcomment/{{product.id}}" method="POST">
										{% csrf_token %}

										<div class="form-group">
											<input name="subject" class="input" type="text"
												placeholder="Your subject" />
										</div>


										<div class="form-group">
											<textarea name="comment" class="input"
												placeholder="Leave your review here"></textarea>
										</div>

										<div class="form-group">
											<div class="input-rating">
												<strong class="text-uppercase">Your Rating: </strong>
												<div class="stars">
													<input type="radio" id="star5" name="rating" value="5" /><label
														for="star5"></label>
													<input type="radio" id="star4" name="rating" value="4" /><label
														for="star4"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label
														for="star3"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label
														for="star2"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label
														for="star1"></label>
												</div>
											</div>
										</div>
										<!-- Submit review only if the user is logged in  -->

										{% if user.id is not None %}
										<button class="primary-btn">Submit</button>
										{% else %}
										You must be logged in to post a review
										{% endif %}
									</form>

									<br>
									{% if messages %}
									{% for message in messages %}
									<div class="alert alert-{{message.tags}}" role="alert">
										{{message}}
									</div>
									{% endfor %}
									{% endif %}
								</div>
								<!-- for success message display after submitting review  -->

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Product Details -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->

{% endblock %}