{% extends 'base.html' %}

{% load static %}

{% block title%} {{query}} search results {% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Search results</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- MAIN -->
            <div id="main" class="col-md-12">

                <!-- row -->
                <div class="row">

                    <div class="col-md-12">
                        <div class="order-summary clearfix">
                            <br>
                            <div class="section-title">
                                <h3>Search results for:&nbsp; <span style="color:crimson; font-style:italic; font-size:22px"> {{query}} </span> </h3>
                            </div>
                            <br>
                            <table class="shopping-cart-table table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th></th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>

                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for pro in products %}
                                    <tr>
                                        <td class="thumb"><a href="/product/{{pro.id}}/{{pro.slug}}">
                                                <img src="{{ pro.image.url }}" alt="Error loading image"
                                                    style="height: 100px">
                                            </a></td>
                                        <td class="details"> <a
                                                href="/product/{{pro.id}}/{{pro.slug}}">{{ pro.title }}</a> </td>
                                        <td class="price text-center">
                                            {% if pro.discounted_price > 0 %}
                                            <strong>{{ pro.discounted_price}}</strong><br><del
                                                class="font-weak primary-color"><small>{{pro.price}}</small></del>
                                            {% else %}
                                            <strong>{{ pro.price}}</strong>
                                            {% endif %}

                                        </td>
                                        <form action="/product/add_to_cart/{{pro.id}}" method="POST">

                                            {% csrf_token %}

                                            <td class="qty text-center"> <input class="input" name="quantity"
                                                    type="number" min="1" max="{{pro.items_in_stock}}"></td>

                                            <td class="text-right"> <button type="submit"
                                                    class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>
                                                    Add to
                                                    Cart</button></td>
                                        </form>
                                    </tr>
                                    {% endfor %}

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>
                <!-- /row -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <br>
    {% endblock %}