{% extends 'base.html' %}

{% load static %}

{% block title%} User Login {{user.first_name}} {% endblock %}

{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">User Login </li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-4">

                <div class="section-title">
            <!-- # for showing messages  -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                    <h3 class="title"> User Login </h3>
                </div>
                 
                <form method="POST">
                    {% csrf_token %} 

                    <div class="form-group">
                        <input class="input" type="text" name="username" placeholder="Username" autocomplete="True"required>
                    </div>

                    <div class="form-group">
                        <input class="input" type="password" name="password" placeholder="Password" autocomplete="True" required>
                    </div>
               
                    <button style="cursor: pointer;
                    border: 2px solid rgb(88, 181, 196);
                    border-radius: 6px;
                    color: white;
                    background-color: black;
                    display: block;
                    width: 100%;
                    font-size: 16px;
                    padding: 7px 9px;
                    margin-top: 20px;"> Login </button>
                    <br>

                    <span> <strong>  <a href="/password_reset/"> Forgot Password? </a> </strong> 
                        &emsp; &emsp; &emsp; 
                     <strong> <a href="/user/signup/"> Not registered yet...sign up now </strong> </a> </span>
                    <br>
                    <br>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}

