<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" /> 
</head>
<body>
<div class="container mt-5">
<h1>Enter new password</h1>

<p>Please enter your new password twice so that we can verify you typed it correctly.</p>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        
        <label>{{ field.label_tag }}</label>
        <p>{{ field }}</p>
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary">Update Password</button>

</form>
</div>
</body>
</html>