{% extends 'base.html' %}

{% load static %}

{% block title%} {{user.first_name}} Profile {% endblock %}
 
{% block content %}
 

 <!-- BREADCRUMB -->
 <div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">My Profile</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- create two separate divisions  -->
            <!-- # for user panel  -->
            <div class="col-md-4">
                {% include "user_panel.html" %}
            </div>

            <!-- # for user profile information  -->
            <div class="col-md-8">
                    <div class="section-title">
                        <h3 class="title">User Profile Info</h3>
                    </div>
                </div>

                 <table class=" table">
                    <tr>
                        <td><img src="{{ profile.image.url }}" style="border-radius: 25px; height: 160px "></td>
                    </tr>
                    <tr>
                        <th class="text-left">Full Name</th>
                        <td class="text-left">{{ user.first_name}} {{ user.last_name}} </td>
                 
                    </tr>
                    <tr>
                        <th class="text-left">Email</th>
                        <td class="text-left">{{ user.email}}</td>
                    </tr>
                           <!-- we can also access first_name, last_name and email by using profile.user.first_name since djuser_profile table has one to one relation to auth_user table; but for other fields we must use profile at front compulsorily   -->
                    <tr>
                        <th class="text-left">Phone</th>
                        <td class="text-left">{{ profile.phone_no}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Address</th>
                        <td class="text-left">{{ profile.address}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">City</th>
                        <td class="text-left">{{ profile.city}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Zip Code</th>
                        <td class="text-left">{{ profile.zip_code}}</td>
                    </tr>
                    <tr>
                        <th class="text-left">Country</th>
                        <td class="text-left">{{ profile.country}}</td>
                    </tr>
                    <th class="text-left">
                        <a href="/user/update_profile" class="primary-btn">Update Profile</a>
                        <a href="/user/change_password" class="primary-btn">Change Password</a>
                    </th>
                </table>
            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}